.userPhoto{
    width: 200px;
    height: 100px;
    background: #e6e6e6;
}
.radius{
    width: 100px;
    height: 100px;
    /* background: red; */
    border-radius: 50%;
    margin-left: 50px;
    background-image: url('../../../image/PDD.png');
    background-size: 100%;

}