/*
 * @Author: zhuyu 
 * @Date: 2018-12-14 11:09:38 
 * @Last Modified by: zhuyu
 * @Last Modified time: 2018-12-14 17:31:53
 */

 .box{
  width: 500px;
  height: 300px;
  background-image: url('../../image/header-bg.jpg');
  position: absolute;
  left: 0;
  bottom: 200px;
  top: 0px;
  right: 0;
  margin: auto;
  /* border: 1px solid black; */
  background-size: 100%;
  background-repeat: no-repeat;
 }
 .div{
   margin-left: 85px;
 }
 .userName{
   width: 250px;
   margin-left: 25px;
   margin-top: 60px;
 }
 .passWord{
  width: 250px;
  margin-left: 25px;
  margin-top: 30px;
}
.tip{
  margin-top: 30px;
}
.btn{
  width: 250px;
  margin-left: 160px;
  margin-top: 20px;
}